/*
*
* CUSTOM STYLES
*
*/
#mainmenu .menu{
  padding: 0 20px 0 0;
}

#editorselection [type=submit] {
  background: #999999;
  background-size: 100px;
}

#editorselection [type=submit]:hover {
  background-color: #aaa;
  background-size: 60px;
}