#mainmenu{
  //
  // menu principal
  padding: 20px;
  position: fixed;
  z-index: 1;
  top:0;
  width: 100%;
  box-sizing: border-box;
  //
  //
  //
  .menu{
    //
    // boutons du menu
    float: left;
    display: block;
    padding: 0 20px 0 0;
    outline: none;
    //
    // boutons du menu à droite
    &.right{
      float: right;
    }
    &.logo{
      float:none;
      position:absolute;
      left:0;
      right:0;
      margin:auto;
      width: 134px;
      padding: 0;
    }
    &.last{
      padding-right: 0;
    }
    &:first-child{
      padding-left: 0;
    }
  }
}