@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-epbwny');
	src:url('fonts/icomoon.eot?#iefix-epbwny') format('embedded-opentype'),
		url('fonts/icomoon.woff?-epbwny') format('woff'),
		url('fonts/icomoon.ttf?-epbwny') format('truetype'),
		url('fonts/icomoon.svg?-epbwny#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-choses1araignee:before {
	content: "\e600";
}

.icon-choses2alliances:before {
	content: "\e601";
}

.icon-choses3ampoule:before {
	content: "\e602";
}

.icon-choses4aquarium:before {
	content: "\e603";
}

.icon-choses5avion:before {
	content: "\e604";
}

.icon-choses6ballon:before {
	content: "\e605";
}

.icon-choses7biere:before {
	content: "\e606";
}

.icon-choses8bonhommeneige:before {
	content: "\e607";
}

.icon-choses9bonnet:before {
	content: "\e608";
}

.icon-choses10bouquetin:before {
	content: "\e609";
}

.icon-choses11bouteille:before {
	content: "\e60a";
}

.icon-choses12calecon:before {
	content: "\e60b";
}

.icon-choses13calendrier:before {
	content: "\e60c";
}

.icon-choses14canape:before {
	content: "\e60d";
}

.icon-choses15cartable:before {
	content: "\e60e";
}

.icon-choses16cathedrale:before {
	content: "\e60f";
}

.icon-choses17chalet:before {
	content: "\e610";
}

.icon-choses18chapeau:before {
	content: "\e611";
}

.icon-choses19cheminee:before {
	content: "\e612";
}

.icon-choses20clef:before {
	content: "\e613";
}

.icon-choses21courrier:before {
	content: "\e614";
}

.icon-choses22crabe:before {
	content: "\e615";
}

.icon-choses23crayon:before {
	content: "\e616";
}

.icon-choses24crocodile:before {
	content: "\e617";
}

.icon-choses25donut:before {
	content: "\e618";
}

.icon-choses26echarpe:before {
	content: "\e619";
}

.icon-choses27eglise:before {
	content: "\e61a";
}

.icon-choses28fraise:before {
	content: "\e61b";
}

.icon-choses29galets:before {
	content: "\e61c";
}

.icon-choses30gants:before {
	content: "\e61d";
}

.icon-choses31gobelet:before {
	content: "\e61e";
}

.icon-choses32goutte:before {
	content: "\e61f";
}

.icon-choses33grenouille:before {
	content: "\e620";
}

.icon-choses34jacuzzi:before {
	content: "\e621";
}

.icon-choses35jesus:before {
	content: "\e622";
}

.icon-choses36lapin:before {
	content: "\e623";
}

.icon-choses37livre:before {
	content: "\e624";
}

.icon-choses38luge:before {
	content: "\e625";
}

.icon-choses39lunettes:before {
	content: "\e626";
}

.icon-choses40maillotdeuxpieces:before {
	content: "\e627";
}

.icon-choses41maillotunepiece:before {
	content: "\e628";
}

.icon-choses42maison:before {
	content: "\e629";
}

.icon-choses43montagne:before {
	content: "\e62a";
}

.icon-choses44nounours:before {
	content: "\e62b";
}

.icon-choses45nuageneige:before {
	content: "\e62c";
}

.icon-choses46nuagepluie:before {
	content: "\e62d";
}

.icon-choses47ordinateur:before {
	content: "\e62e";
}

.icon-choses48oreiller:before {
	content: "\e62f";
}

.icon-choses49palmes:before {
	content: "\e630";
}

.icon-choses50palmier:before {
	content: "\e631";
}

.icon-choses51panneau:before {
	content: "\e632";
}

.icon-choses52perenoel:before {
	content: "\e633";
}

.icon-choses53pharmacie:before {
	content: "\e634";
}

.icon-choses54photoclasse:before {
	content: "\e635";
}

.icon-choses55plage:before {
	content: "\e636";
}

.icon-choses56plateau:before {
	content: "\e637";
}

.icon-choses57douche:before {
	content: "\e638";
}

.icon-choses58famille:before {
	content: "\e639";
}

.icon-choses59pouletroti:before {
	content: "\e63a";
}

.icon-choses60robecollier:before {
	content: "\e63b";
}

.icon-choses61robe:before {
	content: "\e63c";
}

.icon-choses62sapin:before {
	content: "\e63d";
}

.icon-choses63serviette:before {
	content: "\e63e";
}

.icon-choses64skis:before {
	content: "\e63f";
}

.icon-choses65sucette:before {
	content: "\e640";
}

.icon-choses66soleil:before {
	content: "\e641";
}

.icon-choses66table:before {
	content: "\e642";
}

.icon-choses67tasse:before {
	content: "\e643";
}

.icon-choses68tente:before {
	content: "\e644";
}

.icon-choses69tombe:before {
	content: "\e645";
}

.icon-choses70transat:before {
	content: "\e646";
}

.icon-choses71vagues:before {
	content: "\e647";
}

.icon-choses72valise:before {
	content: "\e648";
}

.icon-choses73verre:before {
	content: "\e649";
}

.icon-choses74voiture:before {
	content: "\e64a";
}

.icon-humain23prof:before {
	content: "\e64b";
}

.icon-humains1batailleneige:before {
	content: "\e64c";
}

.icon-humains2bebe:before {
	content: "\e64d";
}

.icon-humains3content:before {
	content: "\e64e";
}

.icon-humains4hiver:before {
	content: "\e64f";
}

.icon-humains5malade:before {
	content: "\e650";
}

.icon-humains6mangeboit:before {
	content: "\e651";
}

.icon-humains7perdu:before {
	content: "\e652";
}

.icon-humains8voyageur:before {
	content: "\e653";
}

.icon-humains9bouche:before {
	content: "\e654";
}

.icon-humains10dialogue:before {
	content: "\e655";
}

.icon-humains11ennui:before {
	content: "\e656";
}

.icon-humains12coeur:before {
	content: "\e657";
}

.icon-humains13danse:before {
	content: "\e658";
}

.icon-humains14deux:before {
	content: "\e659";
}

.icon-humains15danse:before {
	content: "\e65a";
}

.icon-humains16gloups:before {
	content: "\e65b";
}

.icon-humains17lancer:before {
	content: "\e65c";
}

.icon-humains18mariee:before {
	content: "\e65d";
}

.icon-humains19paf:before {
	content: "\e65e";
}

.icon-humains20enfant:before {
	content: "\e65f";
}

.icon-humains21pistedanse:before {
	content: "\e660";
}

.icon-humains22pretre:before {
	content: "\e661";
}

.icon-humains23profil:before {
	content: "\e662";
}

.icon-humains24puni:before {
	content: "\e663";
}

.icon-humains25religions:before {
	content: "\e664";
}

.icon-humains26colere:before {
	content: "\e665";
}

.icon-humains27nausee:before {
	content: "\e666";
}

.icon-humains28peur:before {
	content: "\e667";
}

.icon-humains29triste:before {
	content: "\e668";
}

.icon-humains30content:before {
	content: "\e669";
}

.icon-ponctuation1fois:before {
	content: "\e66a";
}

.icon-ponctuation2diviser:before {
	content: "\e66b";
}

.icon-ponctuation3egal:before {
	content: "\e66c";
}

.icon-ponctuation4fleche:before {
	content: "\e66d";
}

.icon-ponctuation5question:before {
	content: "\e66e";
}

.icon-ponctuation6moins:before {
	content: "\e66f";
}

.icon-ponctuation7parenthesed:before {
	content: "\e670";
}

.icon-ponctuation8parentheseg:before {
	content: "\e671";
}

.icon-ponctuation9plus:before {
	content: "\e672";
}

.icon-ponctuation10exclamation:before {
	content: "\e673";
}

.icon-ponctuation11virgule:before {
	content: "\e674";
}

